@model object

<!DOCTYPE html>

<html>
<head>
    <title>CaseManagement</title>
    <link href="/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table id="CaseTable" lay-filter="CaseTableContainer"></table>
        <script src="/layui/layui.js"></script>
        <!--表工具条-->
        <script type="text/html" id="ToolBar">
            <div>
                <button class="layui-btn" lay-event="AddCase">增加</button>
                <button class="layui-btn layui-btn-danger" lay-event="DeleteSelectCases">批量删除</button>
                <div class="layui-input-inline" style="margin-left: 200px">
                    <input class="layui-input" placeholder="查找案例名称" id="KeyWord" />
                </div>
                <button class="layui-btn layui-btn-normal" lay-event="SearchIndustries">搜索</button>
            </div>
        </script>
        <!--列工具条-->
        <script type="text/html" id="ColumnToolBar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-warm layui-btn-sm" lay-event="EditCase">详情</button>
                <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="DeleteCase">删除</button>
            </div>
        </script>
        <script>
            layui.use(['jquery','table', 'layer'],
                function () {
                //初始化
                var table = layui.table;
                var layer = layui.layer;
                var $ = layui.$;
                //计算窗口高度
                var tableHeight = window.innerHeight*0.98;
                //渲染数据表格
                var CaseTable = table.render({
                    elem: '#CaseTable',
                    height: tableHeight,
                    url: '/ManagementSystem/@Url.Action("TableCaseData", "CaseManager")' //数据接口
                    ,
                    page: true //开启分页
                    ,
                    toolbar: "#ToolBar",
                    cols: [
                        [//表头
                            { field: 'checkbox', type: "checkbox", width: 80, fixed: 'left' },
                            { field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left' },
                            { field: 'name', title: '案例名称', width: 220 },
                            { field: 'cover', title: '案例封面', width: 180 },
                            { field: 'tool', title: '工具条', width: 135, toolbar: "#ColumnToolBar" }
                        ]
                    ]
                    ,
                    response: {
                        statusName: 'status' //规定数据状态的字段名称，默认：code
                        ,statusCode: 200 //规定成功的状态码，默认：0
                        ,msgName: 'message' //规定状态信息的字段名称，默认：msg
                        ,countName: 'total' //规定数据总数的字段名称，默认：count
                        ,dataName: 'data' //规定数据列表的字段名称，默认：data
                    }
                });

                //表工具条监听
                table.on('toolbar(CaseTableContainer)', function(obj) {
                    console.log(obj);
                    switch (obj.event) {
                        //增加行业
                        case "AddCase":
                            layer.open({
                                type: 2,
                                area: ['600px','600px'],
                                content: ['/ManagementSystem/@Url.Action("AddCase","CaseManager")']
                            });
                            break;
                        //批量删除
                        case "DeleteSelectCases":
                            var select = table.checkStatus('CaseTable');
                            if (select.data.length == 0) {
                                layer.msg("您还未选中！");
                                return;
                            }
                            layer.confirm('真的要删除吗？', {
                                btn: ['确定', '取消'] //可以无限个按钮
                            }, function (index, layero) {
                                layer.close(index);
                                //按钮【按钮一】的回调
                                $.post('/ManagementSystem/@Url.Action("DeleteCases","CaseManager")',
                                    {
                                        cases: select.data
                                    },
                                    function (data, status) {
                                        if (data.total > 0) {
                                            layer.msg("删除成功！");
                                            table.reload("CaseTable");
                                        } else {
                                            layer.msg("删除失败！");
                                        }
                                    });
                            }, function (index) {
                                layer.close(index);
                                //按钮【按钮二】的回调

                            });
                            break;
                         //关键字搜索
                        case "SearchIndustries":
                            var value = $("#KeyWord").val();

                            table.reload("CaseTable",
                                {
                                    where: {
                                        keyword: value
                                    }
                                });
                            break;
                    }
                });

                //列工具条监听
                    table.on('tool(CaseTableContainer)', function (obj) {
                        switch (obj.event) {
                            //编辑行业
                        case "EditCase":
                            layer.open({
                                type: 2,
                                area: ['600px','600px'],
                                content: '/ManagementSystem/@Url.Action("UpdateCase","CaseManager")?id=' + obj.data.id
                            });
                            break;
                        //删除行业
                        case "DeleteCase":
                            layer.confirm('真的要删除吗？', {
                                btn: ['确定', '取消'] //可以无限个按钮
                            }, function(index, layero){
                                //按钮【按钮一】的回调
                                layer.close(index);
                                $.post('/ManagementSystem/@Url.Action("DeleteCases","CaseManager")',
                                    {
                                        cases: [obj.data]
                                    },
                                    function (data, status) {
                                        if (data.total > 0) {
                                            layer.msg("删除成功！");
                                            table.reload("CaseTable");
                                        } else {
                                            layer.msg("删除失败！");
                                        }
                                    });
                                }, function (index) {
                                    layer.close(index);
                                //按钮【按钮二】的回调
                            });

                        break;
                    }
                });
            });
        </script>
    </div>
</body>
</html>