<div class="case-wrap">
    <h3 class="case-title">经典案例</h3>
    <ul class="public-list public-center" id="list">
        @*<li class="public-item">
                <a href="case-detail.html" target="_blank">
                    <div class="img-box">
                        <img src="/images/siteType/waimao/case-1.jpg" alt="西安索伯菲智能科技有限公司">
                    </div>
                    <div class="item-desc">西安索伯菲智能科技有限公司</div>
                </a>
            </li>
            <li class="public-item">
                <a href="case-detail.html" target="_blank">
                    <div class="img-box">
                        <img src="/images/siteType/waimao/case-2.jpg" alt="武汉四季花开生态农业开发有限公司">
                    </div>
                    <div class="item-desc">武汉四季花开生态农业开发有限公司</div>
                </a>
            </li>
            <li class="public-item">
                <a href="case-detail.html" target="_blank">
                    <div class="img-box">
                        <img src="/images/siteType/waimao/case-3.jpg" alt="上海星创汽车销售服务有限公司">
                    </div>
                    <div class="item-desc">上海星创汽车销售服务有限公司</div>
                </a>
            </li>
            <li class="public-item">
                <a href="case-detail.html" target="_blank">
                    <div class="img-box">
                        <img src="/images/siteType/waimao/case-4.png" alt="YG-NIUBAILUN">
                    </div>
                    <div class="item-desc">YG-NIUBAILUN</div>
                </a>
            </li>
            <li class="public-item">
                <a href="case-detail.html" target="_blank">
                    <div class="img-box">
                        <img src="/images/siteType/waimao/case-5.png" alt="鹤山市格莱仕车业有限公司">
                    </div>
                    <div class="item-desc">鹤山市格莱仕车业有限公司</div>
                </a>
            </li>
            <li class="public-item">
                <a href="case-detail.html" target="_blank">
                    <div class="img-box">
                        <img src="/images/siteType/waimao/case-6.png" alt="北海市裕华食品有限公司">
                    </div>
                    <div class="item-desc">北海市裕华食品有限公司</div>
                </a>
            </li>
            <li class="public-item">
                <a href="case-detail.html" target="_blank">
                    <div class="img-box">
                        <img src="/images/siteType/waimao/case-7.jpg" alt="SAVOIA赛唯雅卫浴">
                    </div>
                    <div class="item-desc">SAVOIA赛唯雅卫浴</div>
                </a>
            </li>
            <li class="public-item">
                <a href="case-detail.html" target="_blank">
                    <div class="img-box">
                        <img src="/images/siteType/waimao/case-8.jpg" alt="鹤山市格莱仕车业有限公司">
                    </div>
                    <div class="item-desc">鹤山市格莱仕车业有限公司</div>
                </a>
            </li>*@
    </ul>
</div>