<section class="contact">
    <ul class="list">
        <li class="item">
            <div class="item-1">
                <img src="/images/public/contact-cooper.png" alt="img">
                <p>我要合作</p>
            </div>
            <div class="item-2" id="cooper">填写合作意向</div>
        </li>
        <li class="item">
            <div class="item-1">
                <img src="/images/public/contact-qq.png" alt="img">
                <p>QQ咨询</p>
            </div>
            <div class="item-2">QQ在线咨询</div>
        </li>
        <li class="item">
            <div class="item-1">
                <img src="/images/public/contact-tel.png" alt="img">
                <p>电话沟通</p>
            </div>
            <div class="item-2">400-660-8065</div>
        </li>
        <li class="item">
            <div class="item-1">
                <img src="/images/public/contact-search.png" alt="img">
                <p>获取方案</p>
            </div>
            <div class="item-2">获取建站报价方案</div>
        </li>
        <li class="item-last top">
            <img src="/images/public/contact-top.png" alt="img">
            <p>TOP</p>
        </li>
    </ul>
</section>