@model object

<!DOCTYPE html>

<html>
<head>
    <title>CooperManagement</title>
    <link href="/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table id="CooperTable" lay-filter="CooperTableContainer"></table>
        <script src="/layui/layui.js"></script>
        <!--表工具条-->
        <script type="text/html" id="ToolBar">
            <div>
                <!--<button class="layui-btn" lay-event="AddCooper">增加</button>-->
                <button class="layui-btn layui-btn-danger" lay-event="DeleteSelectCoopers">批量删除</button>
                <div class="layui-input-inline" style="margin-left: 200px">
                    <input class="layui-input" placeholder="查找ID或名称" id="KeyWord" />
                </div>
                <button class="layui-btn layui-btn-normal" lay-event="SearchCoopers">搜索</button>
            </div>
        </script>
        <!--列工具条-->
        <script type="text/html" id="ColumnToolBar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-warm layui-btn-sm" lay-event="ReadCooper">已阅读</button>
                <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="DeleteCooper">删除</button>
            </div>
        </script>
        <script>
            layui.use(['jquery','table', 'layer'],
                function () {
                //初始化
                var table = layui.table;
                var layer = layui.layer;
                var $ = layui.$;
                //计算窗口高度
                var tableHeight = window.innerHeight*0.98;
                //渲染数据表格
                var industryTable = table.render({
                    elem: '#CooperTable',
                    height: tableHeight,
                    url: '/ManagementSystem/@Url.Action("SelectCoopers", "CooperManager")' //数据接口
                    ,
                    page: true //开启分页
                    ,
                    toolbar: "#ToolBar",
                    cols: [
                        [//表头
                            { field: 'checkbox', type:"checkbox", width: 80, fixed: 'left' },
                            { field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left' },
                            { field: 'company', title: '公司', width: 200, fixed: 'left'},
                            { field: 'email', title: '邮箱', width: 180 },
                            { field: 'linkMan', title: '联系人', width: 100 },
                            { field: 'contact', title: '电话号码', width: 140 },
                            { field: 'detail', title: '详细', width: 640 },
                            { field: 'readStatus', title: '阅读状态', width: 100 },
                            { field: 'commitDateTime', title: '提交时间', width: 180 },
                            { field: 'tool', title: '工具条', width: 135, toolbar:"#ColumnToolBar" }
                        ]
                    ]
                    ,
                    response: {
                        statusName: 'status' //规定数据状态的字段名称，默认：code
                        ,statusCode: 200 //规定成功的状态码，默认：0
                        ,msgName: 'message' //规定状态信息的字段名称，默认：msg
                        ,countName: 'total' //规定数据总数的字段名称，默认：count
                        ,dataName: 'data' //规定数据列表的字段名称，默认：data
                    }
                });

                //表工具条监听
                    table.on('toolbar(CooperTableContainer)', function(obj) {
                    console.log(obj);
                    switch (obj.event) {
                        //增加行业
                        case "AddCooper":
                            layer.prompt({
                                formType: 0,
                                title: '请输入新增平台名称'
                            },function(value, index, elem) {
                                $.post('/ManagementSystem/@Url.Action("Index", "CooperManager")',
                                    {
                                        name: value
                                    },
                                    function (data, status) {
                                        if (data.total > 0) {
                                            layer.msg("添加成功！请去最后一页查看！");
                                            table.reload("CooperTable");
                                            layer.close(index);
                                        } else {
                                            layer.msg("添加失败！");
                                        }
                                    });
                            });
                            break;
                        //批量删除
                        case "DeleteSelectCoopers":
                            var select = table.checkStatus('CooperTable');
                            if (select.data.length == 0) {
                                layer.msg("您还未选中！");
                                return;
                            }
                            layer.confirm('真的要删除吗？', {
                                btn: ['确定', '取消'] //可以无限个按钮
                            }, function (index, layero) {
                                layer.close(index);
                                $.post('/ManagementSystem/@Url.Action("DeleteCoopers", "CooperManager")',
                                    {
                                        Coopers: select.data
                                    },
                                    function (data, status) {
                                        if (data.total > 0) {
                                            layer.msg("删除成功！");
                                            table.reload("CooperTable");
                                        } else {
                                            layer.msg("删除失败！");
                                        }
                                    });
                                //按钮【按钮一】的回调
                            }, function (index) {
                                layer.close(index);
                                //按钮【按钮二】的回调
                            });
                            break;
                         //关键字搜索
                        case "SearchCoopers":
                            var value = $("#KeyWord").val();

                            table.reload("CooperTable",
                                {
                                    where: {
                                        keyword: value
                                    }
                                });
                            break;
                    }
                });

                //列工具条监听
                    table.on('tool(CooperTableContainer)', function (obj) {
                        switch (obj.event) {
                            //已阅读
                            case "ReadCooper":
                                console.log(obj);
                                $.post('/ManagementSystem/@Url.Action("UpdateCooper","CooperManager")', {
                                    id: obj.data.id
                                },function (data,status) {
                                        if (data.total > 0) {
                                            table.reload("CooperTable");
                                        } else {
                                            layer.msg("更新失败！");
                                        }
                                });
                            break;
                        //删除行业
                            case "DeleteCooper":
                            layer.confirm('真的要删除吗？', {
                                btn: ['确定', '取消'] //可以无限个按钮
                            }, function(index, layero){
                                //按钮【按钮一】的回调
                                layer.close(index);
                                $.post('/ManagementSystem/@Url.Action("DeleteCoopers", "CooperManager")',
                                    {
                                        Coopers: [obj.data]
                                    },
                                    function (data, status) {
                                        if (data.total > 0) {
                                            layer.msg("删除成功！");
                                            table.reload("CooperTable");
                                        } else {
                                            layer.msg("删除失败！");
                                        }
                                    });
                                }, function (index) {
                                    layer.close(index);
                                //按钮【按钮二】的回调
                            });

                        break;
                    }
                });
            });
        </script>
    </div>
</body>
</html>