@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model DataDto
@{
    Layout = null;
    var serializerSettings = new JsonSerializerSettings
    {
        // 设置为驼峰命名
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    };
    var dataStr = JsonConvert.SerializeObject(Model, Formatting.None, serializerSettings);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="keywords" content="@Model.SystemInfo.KeyWords" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户案例 - 格莱软件</title>
    <link rel="stylesheet" href="/assets/swiper/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/case.css">
</head>

<body>
    @Html.Partial("_Head")
    <!-- 主体内容 start -->
    <div id="app">
        <section class="case-main case-list-main">
            <!-- banner start -->
            <section class="main-banner">
                <div class="img-box">
                    <img src="/images/case/case-banner.png" alt="">
                </div>
                <div class="banner-contetn">
                    <div class="banner-wrap">
                        <h2 class="banner-tit">精品案例</h2>
                        <p class="banner-p">行业，风格，功能，产品……您只管选，我们负责呈现！</p>
                    </div>
                </div>
            </section>
            <!-- banner end -->


            <section class="main-wrap public-center">
                <div class="nav-bar">
                    <a href="index.html">首页</a> &nbsp;>&nbsp;
                    <a href="case.html">案例分享</a> &nbsp;>&nbsp;
                    <a href="case.html">家居日用</a> &nbsp;>&nbsp;
                    <span class="cur">{{name}}</span>
                </div>
                <div class="tit-box">
                    <h3 class="tit-big">{{name}}</h3>
                    <p class="tit-small">所属行业：{{industries}}</p>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="item in images">
                            <img :src="item.path" alt="家居日用网站案例">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="company-name">{{name}}</div>
                <div class="btn">
                    <a href="">咨询此类产品服务</a>
                </div>
            </section>
        </section>
    </div>
    <!-- 主体内容 end -->
    <!-- 公共底部 start -->
    @Html.Partial("_Bottom")
    <!-- 公共底部 end -->

    <script src="/assets/jquery1.11.2.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/assets/swiper/swiper-4.2.6.min.js"></script>
    <script src="/js/public.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <script>
        var dataDto = JSON.parse('@Html.Raw(dataStr)');
        //当前选择导航页设置
        $('.nav-list .nav-item').each(function (i, v) {
            if ($(v).data("index") === dataDto.index) {
                $(v).addClass("cur");
            }
        })
        //修改图片尺寸
        $("#logo").css("width", "150px");   //修改尺寸
        $("#weChatQR").css("width", "130px");   //修改二维码尺寸
        var app = new Vue({
            el: '#app',
            data: {
                name: '深圳市好美佳智能家居股份有限公司',
                industries: '家居日用',
                images: [{ "caseID": 1, "id": 1, "path": '/images/case/banner-1.png'}]
            },
            mounted: function () {
                var that = this;
                var data = dataDto.caseDetail;
                that.name = data.name;
                var industry = "";
                for (var i = 0; i < data.industries.length; i++) {
                    if (i==0) {
                        industry += data.industries[i];
                        continue;
                    }
                    industry += "，"+data.industries[i];
                }
                that.industries = industry;
                that.images = data.caseImages;
            }
        });

        // 轮播图
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: true,
            grabCursor: true,
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        })
    </script>

</body>

</html>